Repository Hyperpolymath/palimpsest-license, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @legal-expert-username, @docs-maintainer-username, @devops-username, @designer-username

.github/CODEOWNERS:

# CODEOWNERS
# Format: [Path] [GitHub Username/Team]

# Root files (README, LICENSE, etc.)
README.md LICENSE CONTRIBUTING.md CODE_OF_CONDUCT.md GOVERNANCE.md SECURITY.md @your-github-username
CHANGELOG.md @your-github-username

# License texts
LICENSES/ @your-github-username @legal-expert-username

# Documentation
docs/ @your-github-username @docs-maintainer-username

# Tooling (scripts, workflows)
.github/ @your-github-username @devops-username
Makefile setup.sh test.sh @your-github-username @devops-username

# Assets (badges, QR codes)
assets/ @your-github-username @designer-username

Root directory cleanup: Archive legacy files, fix naming
  ARCHIVE/Palimpsest License v0.3.docx
  ARCHIVE/README.md.v0.3.bak
  ARCHIVE/README.nl.md
  CHANGELOG.md
  CITATION.cff
  LICENSE.md
  README.md
  VERSION
  package.json
  pyproject.toml
Owners: @your-github-username

Root directory cleanup: Archive legacy files, fix naming
  ARCHIVE/Palimpsest License v0.3.docx
  ARCHIVE/README.md.v0.3.bak
  ARCHIVE/README.nl.md
  CHANGELOG.md
  CITATION.cff
  LICENSE.md
  README.md
  VERSION
  package.json
  pyproject.toml
Owners: @your-github-username

Full repository audit and cleanup for v0.4
  ARCHIVE/contributor-guidelines-v0.3.md
Owners: none

Full repository audit and cleanup for v0.4
  ARCHIVE/contributor-guidelines-v0.3.md
Owners: none

Update test.sh
  test.sh
Owners: none

Update style.css
  style.css
Owners: none

feat: add initial Julia license logic
  bunfig.toml
  project.toml
  setup.sh
  style.css
  test.sh
Owners: none

feat: add initial Julia license logic
  bunfig.toml
  project.toml
  setup.sh
  style.css
  test.sh
Owners: none

Clean-up: remove deprecated files and legacy scaffolding for v0.4
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/support.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .prettierrc.json
  ARCHIVE/Palimpsest License v0.3.docx
  ARCHIVE/README.md.v0.3.bak
  ARCHIVE/README.nl.md
  ARCHIVE/contributor-guidelines-v0.3.md
  ARCHIVE/license-parser-experiments/cargo.toml
  ARCHIVE/license-parser-experiments/license-parser.jl
  ARCHIVE/license-parser-experiments/license-parser.ts
  ARCHIVE/license-parser-experiments/nasm_bootstrap.asm
  ARCHIVE/license-parser-experiments/src/lib.rs
  ARCHIVE/license-parser.js.v0.3-legacy
  Makefile
  examples/elixir/deployment-strategy
  examples/elixir/ecto-enhancements
  examples/elixir/manifest-strategy
  package.json
  pyproject.toml
  requirements.txt
  style.css
  test.sh
Owners: @your-github-username, @devops-username

Add comprehensive CLAUDE.md documentation
  CLAUDE.md
Owners: none

Add RFC 9116 compliant security.txt with Palimpsest-specific policies
  security.txt
Owners: none

Add comprehensive vulnerability disclosure policy with AI-specific considerations
  vulnerability.txt
Owners: none

Add Creative Commons outreach letter
  press-lobby-kit/letters/organisations/01-creative-commons.md
Owners: none

Add comprehensive robots.txt with AI/LLM crawler guidelines and license protection
  robots.txt
Owners: none

Add Free Software Foundation outreach letter
  press-lobby-kit/letters/organisations/02-free-software-foundation.md
Owners: none

Add comprehensive trust.txt with verification procedures and transparency commitments
  trust.txt
Owners: none

Add IRTF Internet-Draft for Creative Works Consent Framework
  standards/irtf-drafts/draft-creative-works-consent-00.md
Owners: none

Add Electronic Frontier Foundation outreach letter
  press-lobby-kit/letters/organisations/03-electronic-frontier-foundation.md
Owners: none

Add Open Source Initiative outreach letter
  press-lobby-kit/letters/organisations/04-open-source-initiative.md
Owners: none

Add Apache Software Foundation outreach letter
  press-lobby-kit/letters/organisations/05-apache-software-foundation.md
Owners: none

Add DNS and network infrastructure technical specifications
  press-lobby-kit/infrastructure/technical/bgp-license-propagation.md
  press-lobby-kit/infrastructure/technical/dns-txt-specifications.md
  press-lobby-kit/infrastructure/technical/edns-opt-metadata.md
Owners: none

Add Linux Foundation outreach letter
  press-lobby-kit/letters/organisations/06-linux-foundation.md
Owners: none

Add comprehensive llms.txt with AI training guidelines and ethical AI practices
  llms.txt
Owners: none

Add W3C Community Group charter and proposal
  standards/w3c/community-group-charter.md
  standards/w3c/community-group-proposal.md
Owners: none

Add Mozilla Foundation outreach letter
  press-lobby-kit/letters/organisations/07-mozilla-foundation.md
Owners: none

Add comprehensive server-side integrations
  integrations/server/nginx-apache/apache-palimpsest.conf
  integrations/server/nginx-apache/nginx-palimpsest.conf
  integrations/server/nodejs/README.md
  integrations/server/nodejs/examples/basic-express.ts
  integrations/server/nodejs/package.json
  integrations/server/nodejs/src/index.ts
  integrations/server/nodejs/tsconfig.json
  integrations/server/php/composer.json
  integrations/server/php/examples/basic.php
  integrations/server/php/src/PalimpsestConfig.php
  integrations/server/php/src/PalimpsestLicense.php
  integrations/server/python/README.md
  integrations/server/python/examples/basic_flask.py
  integrations/server/python/setup.py
  integrations/server/python/src/palimpsest/__init__.py
  integrations/server/python/src/palimpsest/core.py
  integrations/server/python/src/palimpsest/flask_integration.py
  integrations/server/ruby/lib/palimpsest.rb
  integrations/server/ruby/lib/palimpsest/config.rb
  integrations/server/ruby/lib/palimpsest/generator.rb
  integrations/server/ruby/lib/palimpsest/middleware.rb
  integrations/server/ruby/lib/palimpsest/version.rb
  integrations/server/ruby/palimpsest-license.gemspec
Owners: none

Add comprehensive humans.txt with project credits, philosophy, and human-centred approach
  humans.txt
Owners: none

Add Internet Society outreach letter
  press-lobby-kit/letters/organisations/08-internet-society.md
Owners: none

Add W3C outreach letter
  press-lobby-kit/letters/organisations/09-w3c.md
Owners: none

Add comprehensive image asset conversion system and licence blocks
  .gitignore
  Makefile
  assets/badges/README.md
  assets/badges/svg/badge-blue.svg
  assets/badges/svg/badge-compact.svg
  assets/badges/svg/badge-dark.svg
  assets/badges/svg/badge-flat.svg
  assets/badges/svg/badge-green.svg
  assets/badges/svg/badge-large.svg
  assets/badges/svg/badge-light.svg
  assets/badges/svg/badge-standard.svg
  assets/badges/svg/badge-text-only.svg
  assets/conversion-scripts/README.md
  assets/conversion-scripts/convert.js
  assets/conversion-scripts/convert.sh
  embed/license-blocks/README.md
  embed/license-blocks/html-basic.html
  embed/license-blocks/html-detailed.html
  embed/license-blocks/html-footer.html
  embed/license-blocks/html-inline.html
  embed/license-blocks/html-sidebar.html
  embed/license-blocks/markdown-basic.md
  embed/license-blocks/markdown-detailed.md
Owners: @your-github-username, @designer-username

Add comprehensive BIMI implementation guide for email authentication and brand protection
  docs/BIMI-implementation.md
Owners: @your-github-username, @docs-maintainer-username

Add core Haskell validation modules
  TOOLS/validation/haskell/palimpsest-validator.cabal
  TOOLS/validation/haskell/src/Palimpsest/Validator.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/Bilingual.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/License.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/Metadata.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/Reference.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/Types.hs
  TOOLS/validation/haskell/src/Palimpsest/Validator/Utils.hs
  press-lobby-kit/letters/organisations/10-national-union-journalists.md
Owners: none

Add CLI application and test suite
  TOOLS/validation/haskell/app/Main.hs
  TOOLS/validation/haskell/test/Palimpsest/Validator/BilingualSpec.hs
  TOOLS/validation/haskell/test/Palimpsest/Validator/LicenseSpec.hs
  TOOLS/validation/haskell/test/Palimpsest/Validator/MetadataSpec.hs
  TOOLS/validation/haskell/test/Spec.hs
Owners: none

Add Writers' Guild of Great Britain outreach letter
  press-lobby-kit/letters/organisations/11-writers-guild-great-britain.md
Owners: none

Add CSP and HTTP header specifications for license enforcement
  press-lobby-kit/infrastructure/technical/csp-license-enforcement.md
  press-lobby-kit/infrastructure/technical/http-license-headers.md
Owners: none

Add build configuration and installation tooling
  TOOLS/validation/haskell/LICENSE
  TOOLS/validation/haskell/Makefile
  TOOLS/validation/haskell/cabal.project
  TOOLS/validation/haskell/stack.yaml
  TOOLS/validation/install.sh
Owners: none

Add comprehensive client-side integrations
  integrations/client/browser-extension/background.js
  integrations/client/browser-extension/content.js
  integrations/client/browser-extension/manifest.json
  integrations/client/browser-extension/popup.js
  integrations/client/javascript/README.md
  integrations/client/javascript/package.json
  integrations/client/javascript/src/index.js
  integrations/client/typescript/index.d.ts
  integrations/client/web-components/palimpsest-badge.js
  integrations/client/web-components/palimpsest-notice.js
Owners: none

Add comprehensive documentation for validation tools
  TOOLS/validation/README.md
  TOOLS/validation/haskell/README.md
  docs/validation-tools.md
Owners: @your-github-username, @docs-maintainer-username

Archive Python validation scaffolding
  ARCHIVE/python-validation-replaced-2024-11/README.md
  ARCHIVE/python-validation-replaced-2024-11/pyproject.toml
  ARCHIVE/python-validation-replaced-2024-11/requirements.txt
Owners: none

Add comprehensive Dublin Core metadata for Palimpsest License v0.4
  METADATA_v0.4/dublin-core/README.md
  METADATA_v0.4/dublin-core/palimpsest-v0.4-dc.json
  METADATA_v0.4/dublin-core/palimpsest-v0.4-dc.rdf
  METADATA_v0.4/dublin-core/palimpsest-v0.4-dc.xml
Owners: none
